/*
=============General Styling=============
*/
html { box-sizing: border-box;}
*, *::before, *::after { box-sizing: inherit;}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arvo', serif;
  font-size: 20px;
  font-weight: 400;
}

a:link,
a:visited {
  text-decoration: none;
}

/*=============ENDS=============*/

/*
=============Header=============
*/
header {
  height: 100vh;
  background: -webkit-linear-gradient(rgba(40, 40, 48, 0.4), rgba(40, 40, 48, 0.6)), url("./img/egg_toast_m.jpg");
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* what does this mean */
}

/*=============ENDS=============*/

/*
=============Nav Bar=============
*/
header {
  margin: 0;
  padding: 0;
  color: ##EEEEEE;
}

#navBar {
  background-color: rgba(12, 12, 13, 0.90);
  height: 90px;
  flex: 0 1 auto;
}

#navBar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 100%;
  /*shrink font-size for mobile, push elements to the right for larger screen ( x > 950) */
}

#navBar ul li {
  padding: 1%;
}

#navBar ul li a:link,
#navBar ul li a:visited {
  color: #EEE;
  font-weight: 400;
  transition: color 0.3s;
}

#navBar ul li a:hover,
#navBar ul li a:active {
  color: #E67E22;
  cursor: pointer;
}

/*=============ENDS=============*/

/*
=============RESTAURANT INFO=============
*/
.restaurant-info {
  flex: 1 1 auto;
  margin-top: 10%;
}

div.restaurant-info img {
  height: 325px;
  width: 325px;
  padding: 0;
}

#testimonials {
  flex: 0 1 auto;
  color: #EEE;
  padding-bottom: 4%; /* Closes the gap between the logo and testimonials*/
}

#testimonials blockquote p {
  padding: 25px 17;
  font-style: italic;
  font-size: 87%;
  line-height: 160%;
  text-align: center;
}
/*=============ENDS=============*/
