/*
=============General Styling=============
*/
html {
  box-sizing: border-box;
  text-rendering: optimizeSpeed;
}

*, *::before, *::after { box-sizing: inherit;}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arvo', serif;
  font-size: 20px;
  font-weight: 400;
}

a:link,
a:visited {
  text-decoration: none;
}

h1 {
  color: #D04E33;
  font-size: 250%;
  word-spacing: 4px;
  margin-bottom:20px;
  letter-spacing: 1px;
}

h2 {
  color: #D04E33;
  font-size: 150%;
  word-spacing: 4px;
  margin-bottom:10px;
  letter-spacing: 1px;
  font-weight: 200;
}

h3 {
  color: #D04E33;
  font-size: 120%;
  word-spacing: 0.4em;
  letter-spacing: 0.05em;
}


/*=============ENDS=============*/

/*
=============Header=============
*/
header.home-header {
  height: 100vh;
  background: -webkit-linear-gradient(rgba(40, 40, 48, 0.4), rgba(40, 40, 48, 0.4)), url("./img/home-header-4128.jpg");
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* what does this mean */
}

/*=============ENDS=============*/

/*
=============Nav Bar=============
*/
header {
  /* font-size: 20px */
  margin: 0;
  padding: 0;
  color: ##EEEEEE;
}

#navBar {
  font-size: 1.20em;
  background-color: rgba(12, 12, 13, 0.4);
  height: 90px;
  flex: 0 1 auto;
}
#navBar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#navBar ul li {
  padding: 1em 0;
}
#navBar ul li a:link,
#navBar ul li a:visited {
  color: #EEE;
  font-weight: 400;
  transition: color 0.3s;
}
#navBar ul li a:hover,
#navBar ul li a:active {
  color: #E67E22;
  cursor: pointer;
}
/*=============ENDS=============*/

/*
=============RESTAURANT INFO=============
*/
.restaurant-info {
  font-size: 0.8em;
  flex: 1 1 auto;
  margin-top: 6em;
  color: #EEEEEE;
}

div.restaurant-info img.logo {
  height: 14.75em;
  width: 14.75em;
  padding: 0;
}

.restaurant-info h1 {
  font-size: 5em;
  font-family: 'Black Ops One', cursive;
  font-weight: 400;
  margin: -0.4em 0 0 0.49em;
}
.restaurant-info h2 {
  font-size: 3em;
  font-family: 'Black Ops One', cursive;
  font-weight: 400;
  margin: 0;
  color: #EEEEEE;
  text-shadow: -1px 0 #E66A39, 0 1px #E66A39, 1px 0 #E66A39, 0 -1px #E66A39;
}

p.services {
  font-size: 2em;
  word-spacing: 0.5em;
  margin: 1em 0 0 0;
}
/*=============ENDS=============*/

/*
=============SPECIALS=============
*/
.storeSpecials {
  font-size: 20px;
  background-color: #EEEEEE;
  padding: 10% 0;
}

.storeSpecials h3 {
  margin: 0;
  position: relative;
  bottom: -1.65em;
  padding: 1em;
  border: 1px solid #e0e0e0;
  border-radius: 2.272em;
  z-index: 50;
  background: #FFF;
  font-style: italic;
}

.special {
  color: #353C3E;
  padding: 2em;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
  background: #FFF;
}

.specials-list div.special:nth-child(odd) {
  background-color: #E67E22;
}
.special-container img.special-food {
  padding: 0 1.2em 0 0;
  height: 135px;
  width: 135px;
}

.special-desc {
  padding: 1em 0 0 0;
}

.special-desc h4 {
  display: inline;
  margin: 1em 0 0 0;
  letter-spacing: 0.08em;
}

.special-desc span.price {
  font-size: 1.2em;
  color: #D04E33;
  font-weight: 200;
}
.specials-list div.special:nth-child(odd) .price{
  color: #EEE;
}

.special-desc span.price::before {
  content: " .............................................................";
  margin-right: 0.1em;
  color: #353C3E;
  font-weight: 200;
  font-size: 0.6em;
  letter-spacing: inherit;
}

.special-desc p {
  margin: 1em 0 0 0;
  font-size: 0.7em;
  color: #353C3E;
  line-height: 1.45em;
}
/*=============ENDS=============*/


/*
================================================ABOUT================================================
*/
header.about-header {
  height: 60vh;
  background: url("./img/about-filter-1200.jpg");
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 -100px;
}

#navBar.about ul li a:hover,
#navBar.about ul li a:active {
  color: #D04E33;
  cursor: pointer;
}
section.about {
  text-align: center;
}

section.about h1 {
  font-size: 2.5em;
  margin: 1.5em 0 0 0;
  padding: 0 0 0.2em 0;
  border-bottom: 2px solid #1C2021;
}

section.about p {
  font-size: 0.8em;
  line-height: 1.75em;
  margin: 2em 0 0 0;
  padding: 0 10%;
  color: #3E4651;
}

section.about p:nth-last-child(1) {
  margin: 1.3em 0 7em 0;
}

#mission-statement {
  font-weight: 600;
}
/*=============ENDS=============*/


/*
================================================MENU================================================
*/
body.menu-body {
  background-color: #EEEEEE;
}

header.menu-header {
  height: 40vh;
  background-color: #1C2021;
  /*background: -webkit-linear-gradient(rgba(40, 40, 48, 0.4), rgba(40, 40, 48, 0.4)), url("./img/menu-2-1600.jpg");
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 -270px;*/
}

#navBar.menu {
  background-color: rgba(12, 12, 13, 0);
}

.menu-description {
  font-size: 0.75em;
  color: #353C3E;
}

.menu-description article {
  width: 47.666667%;
  padding: 7em 1.5em 0 0;
}
.menu-description article:nth-child(1) {
  padding-left: 1.5em;
}
.menu-description article p {
  line-height: 1.8em;
  word-spacing: 0.05em;
}

/* MENU LIST */
.menu-section {
    padding-bottom: 12%;
}
.menu-section section {
  margin-top: 7em;
}

.item-list {
  margin-top: 3em;
}


.banner {
  width: 100%;
  height: 400px;
  text-align: center;
  background-repeat: no-repeat;
}
.banner h1 {
  margin: 0.7em 0 0 0;
  font-size: 190%;
  font-weight: 200;
  color: #EEEEEE;
}
h1.first-item {
  margin: 2.2em 0 0 0;
}

.starters .banner {
  background: -webkit-linear-gradient(rgba(40, 40, 48, 0.4), rgba(40, 40, 48, 0.4)), url("./img/fries-900.jpeg");
  background-size: cover;
}
.starters .banner h1.first-item {
  margin: 4em 0 0 0;
}
.salad-soups .banner {
  background: -webkit-linear-gradient(rgba(40, 40, 48, 0.4), rgba(40, 40, 48, 0.4)), url("./img/salad-2-900.jpg");
  background-size: cover;
}
.social-sandwich .banner {
  background: -webkit-linear-gradient(rgba(40, 40, 48, 0.4), rgba(40, 40, 48, 0.4)), url("./img/sandwich-900.jpeg");
  background-size: cover;
}
.burger-wrap .banner {
  background: -webkit-linear-gradient(rgba(40, 40, 48, 0.4), rgba(40, 40, 48, 0.4)), url("./img/burger-900.jpeg");
  background-size: cover;
}
.main-dish .banner {
  background: -webkit-linear-gradient(rgba(40, 40, 48, 0.4), rgba(40, 40, 48, 0.4)), url("./img/main-900.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.main-dish .banner h1.first-item {
  margin: 4em 0 0 0;
}
.breakfast-benedict .banner {
  background: -webkit-linear-gradient(rgba(40, 40, 48, 0.4), rgba(40, 40, 48, 0.4)), url("./img/breakfast-900.jpg");
  background-size: cover;
}

/* MENU ITEM */
.sub-menu-section h2 {
  font-size: 135%;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 0 0 1em 0;
  color: #353C3E;
  border-bottom: 2px solid #d8d8d8;
  position: relative;
}

.sub-menu-section a:hover, .item a:hover {
  cursor: pointer;
}

h2.first-item {
  position: relative;
  margin-top: 2em;
}

.item {
  margin-top: 0.9em;
  position: relative;
}

/* Dialog */
h2 sup a {
  cursor: pointer;
  font-size: 2em;
  padding: 1em 1em 0.85em 0;
  color: #E67E22;
}
h6 sup a {
  cursor: pointer;
  font-size: 2em;
  padding: 0.85em 1em 0.85em 0;
  color: #E67E22;
}

div.extras {
  font-size: inherit;
  position: absolute;
  top: 2.25em;
  left: -1em;
  border: 0;
  margin: 0 2em;
  width: 230px;
  padding: 0;
  z-index: 100;
  display: none;
  background: #E66A39;
}

h2 div.extras {
  width: 360px;
}
div.extras h1 {
  font-size: 0.75em;
  background-color: #353C3E;
  color: #EEE;
  margin: 0;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  padding: 0.8em;
}
div.extras h2 {
  font-size: 87%;
  padding: 0.8em 0 0 0.8em;
  border: 0;
  font-weight: 600;
  color: #353C3E;
}
div.extras h1.second-item {
  border-top-left-radius: 0em;
  border-top-right-radius: 0em;
  margin-top: 1em;
}
div.extras h1.second-item ~ h1 {
  background-color: #353C3E;
}
div.extras h1 a.close {
  font-size: 0.9em;
  margin: -1.6em -1.3em 0 0;
  padding: 1em;
  float: right;
  color: #D04E33;
}
div.extras p {
  margin: 0.30em 0 0 0;
  padding: 0 0.75em;
  font-size: 0.8em;
  line-height: 1.75em;
  font-style: italic;
  color: #EEE;
  font-weight: 600;
}
h2 div.extras p {
  font-size: 0.6em;
}
div.extras p .price {
  float: right;
}
div.extras .price::before {
  content: " ......";
  color: #353C3E;
  font-weight: 200;
}
div.extras.garlic-bread {
  left: -2em;
}
div.extras.soup {
  top: 1.25em;
  left: -2em;
}
div.extras.poutine, div.extras.omelet,
div.extras.wings {
  left: -2em;
}
div.extras.wings {
  width: 270px;
}
div.extras.wings p {
  word-spacing: 0.2em;
}
div.extras.salad, div.extras.sandwich,
div.extras.burger, div.extras.wraps,
div.extras.main, div.extras.breakfast {
  top: 1.25em;
  left: -2em;
}
div.extras.main p, div.extras.breakfast p {
  margin-top: 1em;
}
div.extras.main p:nth-last-child(1),
div.extras.breakfast p:nth-last-child(1) {
  margin-bottom: 1em;
}
div.extras.benedict {
  top: 1.35em;
  left: -2em;
}
div.extras.omelet {
  width: 420px;
}
/* Dialog Ends */

.item.first-item {
  margin-top: 2em;
}
.item.alignment {
  margin-top: 5em;
}
.item h6 {
  font-size: 90%;
  font-weight: 400;
  color: #353C3E;
  margin: 1em 0 0 0;
  letter-spacing: 0.07em;
}
.item .price {
  float: right;
  font-weight: 600;
}
.item .price::before {
  content: " ......";
  margin-right: 0.7em;
  color: #353C3E;
  font-weight: 200;
  font-size: 0.6em;
  letter-spacing: inherit;
}
.item p {
  margin: 1em 0 0 0;
  font-size: 0.8em;
  line-height: 1.75em;
  font-style: italic;
  color: #D04E33;
}
/*=============ENDS=============*/

/*
================================================CONTACT US================================================
*/

/*
=============CONTACT US HEADER AND NAVBAR/*=============
*/
.contact-header {
  height: 100vh;
  background:  -webkit-linear-gradient(rgba(40, 40, 48, 0.5), rgba(40, 40, 48, 0.5)), url("./img/contact-us-1600.jpg");
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#navBar.contact {
  background-color: rgba(12, 12, 13, 0);
}

#navBar.contact ul li a:hover,
#navBar.contact ul li a:active {
  color: #D04E33;
  cursor: pointer;
}
/*=============ENDS=============*/

/*
=============CONTACT CARD/*=============
*/
section.contact-card {
  background: -webkit-linear-gradient(rgba(28, 32, 33, 0.5), rgba(28, 32, 33, 0.5));
  margin: 2.25em 0;
  width: 75%;
  color: #EEE;
  padding: 0 4.5em;
}

section.contact-card h1 {
  margin: 0;
  color: #EEE;
  font-family: 'Black Ops One', cursive;
  border-bottom: 2px solid #E66A39;
  font-size: 275%;
  font-weight: 400;
}

section.contact-card .address:link,
section.contact-card .address:visited {
  font-size: 1.25em;
  padding: 1.5em 0 0 0;
  color: #EEE;
  letter-spacing: 0.1em;
}

section.contact-card a:link,
section.contact-card a:visited {
  padding: 1.1em 0 0 0;
  font-size: 150%;
  color: #E66A39;
  letter-spacing: 0.2em;
  font-weight: 600;
}

section.contact-card a:hover,
section.contact-card a:active {
  cursor: pointer;
}
/*=============ENDS=============*/

/*
=============FOOTER=============
*/
footer.footer {
/*  font-size: 20px; */
  height: 12em;
  background-color: #1C2021;
  border-top: 2px solid #D04E33;
}
.footer a {
  font-size: 0.8em; /* 16px */
  padding-right: 1em;
  cursor: pointer;
  color: #EEE;
}

.footer a > i {
  font-size: 260%;
}

.footer a i.facebook:hover,
.footer a i.facebook:active {
  color: #3b5998;
  transition: color 0.3s;
}

.footer a i.googlePlus:hover,
.footer a i.googlePlus:active {
  color: #dd4b39;
  transition: color 0.3s;
}

.footer a i.map:hover,
.footer a i.map:active {
  color: #4CAF50;
  transition: color 0.3s;
}

a.footerPhoneNumber{
  font-size: 1.2em ;
  color: #E66A39;
  padding: 1em 0 0 0;
  }

footer h6 {
  margin: 1em 0 1em 1em;
  color: #EEE;
  font-size: 0.7em;
}

footer h6 a {
  word-spacing: 0.5em;
}

a.backToTop {
  padding: 2em;
}
/*=============ENDS=============*/

/* ==========================MEDIA QUERIES ==========================*/
@media(min-width: 992px) { /* screen greater than 992px */
  /* NavBar */
  #navBar ul {
    margin-right: 1em;
  }

  /* Special Menu */
  .special { border-right: 1px solid #e0e0e0; }
  .special-desc { width: 76%; }

  .menu-description { justify-content: center; }
  .menu-description article { width: 34.666667%; }
  .menu-description article:nth-child(1) {
    padding-left: 0;
    padding-right: 2em;
  }
  .menu-section section { margin-top: 4em; }
  .item-list { justify-content: center; }
  .item-list .sub-menu-section:nth-child(1) { margin-right: 1em; }
  .sub-menu-section { width: 40%; }

  /* Menu Banners */
  .starters .banner {
    background: -webkit-linear-gradient(rgba(40, 40, 48, 0.4), rgba(40, 40, 48, 0.4)), url("./img/fries-1280.jpeg");
    background-size: cover;
    background-position: 0 -400px;
  }
  .salad-soups .banner {
    background: -webkit-linear-gradient(rgba(40, 40, 48, 0.4), rgba(40, 40, 48, 0.4)), url("./img/salad-900.jpg");
    background-size: cover;
  }
  .main-dish .banner {
    background: -webkit-linear-gradient(rgba(40, 40, 48, 0.4), rgba(40, 40, 48, 0.4)), url("./img/main-915.jpg");
    background-size: cover;
    background-position: 0 -215px;
  }
}

@media (min-width: 1360px) {
  .burger-wrap .banner {
    background: -webkit-linear-gradient(rgba(40, 40, 48, 0.4), rgba(40, 40, 48, 0.4)), url("./img/burger-900.jpeg");
    background-size: cover;
    background-position: 0 -96px;
  }
}

@media (max-width: 1630px) {
    /* Menu */
    header.menu-header { height: 40vh; }
}

@media (max-width: 1570px) {
  /* NavBar */
  #navBar ul li { width: 9.333333%; }
  /* Menu */
  .menu-description article { width: 39.666667%; }
  .menu-description { justify-content: center; }

  /* Menu Banners */
  .starters .banner {
    background-position: 0 -300px;
  }
}

@media (max-width: 1410px) {
  /* NavBar */
  #navBar ul li { width: 10.333333%; }
  /* Menu */
  .sub-menu-section { width: 48%; }
  /* Menu Banner */
  .main-dish .banner {
    background: -webkit-linear-gradient(rgba(40, 40, 48, 0.4), rgba(40, 40, 48, 0.4)), url("./img/main-900.jpg");
    background-size: cover;
    background-position: 0 -135px;
  }
}

@media (max-width: 1275px) {
  /* NavBar */
  #navBar ul li { width: 11.333333%; }
  /* Menu Banners */
  .starters .banner {
    background-position: 0 -215px;
  }
}

@media (max-width: 1165px) {
  /* NavBar */
  #navBar ul {
    margin-right: 0;
    justify-content: center;
  }
  #navBar ul li { width: 25%; }
  /* Menu Banner */
  .main-dish .banner {
    background: -webkit-linear-gradient(rgba(40, 40, 48, 0.4), rgba(40, 40, 48, 0.4)), url("./img/main-900.jpg");
    background-size: cover;
    background-position: 0 0;
  }
}

@media(max-width: 1600px) and (min-width: 992px){

  /* Special Menu */
  .special { width: 48%; }
  .special-desc span.price::before {
    content: " ..........................................................";
  }
  .special-desc { width: 72%; }
}

@media (max-width: 1370px) {
  /* Special Menu */
  .special { padding: 1.5em; }
  .special-desc span.price::before {
    content: " ........................................";
  }
  .special-desc { width: 70%; }
}

@media (max-width: 1085px) and (min-width: 1016px){
  /* Home Page */
  header.home-header {
    background: -webkit-linear-gradient(rgba(40, 40, 48, 0.4), rgba(40, 40, 48, 0.4)), url("./img/home-header-1280.jpg");
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  /* Special Menu */
  .specials-list { align-items: stretch; }
  .special-desc span.price::before {
    content: " ...........................";
  }
  .special-container img.special-food {
    height: 125px;
    width: 125px;
  }

}

@media (max-width: 1015px) {
  /* Special Menu */
  .specials-list { align-items: stretch; }
  .special-desc span.price::before {
    content: " ........................";
  }
  .special-container img.special-food {
    height: 120px;
    width: 120px;
  }
}

@media (max-width: 992px) {
  /* Special Menu */
  .special { padding: 2em; }
  .special-desc span.price::before {
    content: " .......................................................";
  }
  .special-desc { width: 75%; }
  /* Menu Banners */
  .starters .banner {
    background: -webkit-linear-gradient(rgba(40, 40, 48, 0.4), rgba(40, 40, 48, 0.4)), url("./img/fries-900.jpeg");
    background-size: cover;
  }
}

@media (max-width: 840px) {
  /* Special Menu */
  .special-desc span.price::before {
    content: " .........................................";
  }

  .menu-description article { width: 99.666667%; }
  .menu-description article {
    padding-top: 3em;
    padding-left: 1.5em;
  }
  .menu-section section { margin-top: 6em; }
  .sub-menu-section { width: 85%; }
  h2.first-item { margin-top: 4em; }
  .social-sandwich .item-list .sub-menu-section:nth-last-child(1) h2,
  .burger-wrap .item-list .sub-menu-section:nth-last-child(1) h2 {
    margin-top: 4em;
  }
  .item-list { justify-content: center; }
  .item-list .sub-menu-section:nth-child(1) { padding-bottom: 0; }
  .item-list .sub-menu-section:nth-last-child(1) { padding-top: 0; }
  .item.alignment {
    margin-top: 0.9em;
  }
  /* Menu Banners */
  .starters .banner {
    background: -webkit-linear-gradient(rgba(40, 40, 48, 0.4), rgba(40, 40, 48, 0.4)), url("./img/fries-515.jpg");
    background-size: cover;
  }
}

@media (max-width: 765px) {
  /* Home Page */
  header.home-header {
    background: -webkit-linear-gradient(rgba(40, 40, 48, 0.4), rgba(40, 40, 48, 0.4)), url("./img/home-header-908.jpg");
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  /* NavBar */
  #navBar { font-size: 1.1em; }

  /* Restaurant Info */
  .restaurant-info { font-size: 0.7em; }

  /* Special Menu */
  .special-container {
    flex-direction: column;
    align-items: center;
  }
  .special-container img.special-food {
    width: 125px;
    padding: 0;
  }
  .special-desc {
    text-align: center;
    padding: 0.5em;
    width: 100%;
  }
  .special-desc span.price {
    font-size: 1.5em;
    margin-left: 0.5em;
  }
  .special-desc span.price::before { content: "..."; }

  /* Contact */
  section.contact-card { font-size: 0.8em; }
}

@media (max-width: 610px) {
  /* NavBar */
  #navBar { font-size: 1em; }
  /* Restaurant Info */
  .restaurant-info { font-size: 0.6em; }

  /*About Header */
  header.about-header {
    height: 70vh;
    background: url("./img/about-filter-960.jpg");
    background-position: 0 -50px;
  }

  /* Menu Banner */
  .breakfast-benedict .banner {
    background: -webkit-linear-gradient(rgba(40, 40, 48, 0.4), rgba(40, 40, 48, 0.4)), url("./img/breakfast-900.jpg");
    background-size: cover;
    background-position: -200px 0;
  }

}

@media (max-width: 570px) {
  /* Special Menu */
  .storeSpecials h3 { font-size: 100%; }
  /*About Header */
  header.about-header {
    background-position: -50px -50px;
  }
}

@media (max-width: 530px) {
  /* NavBar */
  #navBar { height: 155px; }
  #navBar ul li {
    margin-top: 0.4em;
    width: 45%;
  }
  #navBar ul li a {
    padding-bottom: 0.15em;
    border-bottom: 1px solid #D04E33;
  }
  /* Restaurant Info */
  .restaurant-info { font-size: 0.4em; margin-top: 7em;}

  /* Dialog */
  div.extras.salad, div.extras.soup,
  div.extras.sandwich, div.extras.burger,
  div.extras.wraps, div.extras.main,
  div.extras.breakfast, div.extras.benedict,
  div.extras.omelet {
    top: 1.65em;
    left: -3em;
    width: 15em;
    font-size: 0.8em;
  }
  div.extras.benedict {
    width: 14em;
  }
  div.extras.benedict p{
    line-height: 1.75em;
    padding: 1em;
  }
  div.extras.omelet {
    top: 3em;
    width: 19em;
  }

  /* Contact */
  section.contact-card { font-size: 0.65em; }
  section.about h1 { margin: 1.25em 0 0 0; }
}

@media (max-width: 500px) {
  /* Home Page */
  header.home-header {
    background: -webkit-linear-gradient(rgba(40, 40, 48, 0.4), rgba(40, 40, 48, 0.4)), url("./img/home-header-496.jpg");
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  /* Contact Us */
  section.contact-card { padding: 0 4em; }
}

@media (max-width: 500px) and (min-resolution: 110dpi), (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2) {
  /* Home Page */
  header.home-header {
    background: -webkit-linear-gradient(rgba(40, 40, 48, 0.4), rgba(40, 40, 48, 0.4)), url("./img/home-header-640.jpg");
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
@media (max-width: 405px) {
  /* NavBar */
  #navBar { height: 135px; }
  #navBar ul li { padding: 0.8em 0; }

  /* Restaurant Info */
  div.restaurant-info img.logo {
    height: 11.75em;
    width: 11.75em;
  }
  p.services {
    margin: 1em 11em 0 11em;
    text-align: center;
  }

  /* Special Menu */
  .special {
    width: 82%;
    padding: 1.5em;
  }
  .storeSpecials h3 { font-size: 85%; }

  .banner h1 { font-size: 1.5em; }
  .starters .banner h1.first-item, .extras .banner h1.first-item {
    margin-top: 6em;
  }
  .banner h1.first-item { margin-top: 5.2em; }
  .sub-menu-section { font-size: 0.9em; }

  /* Menu Banners */
  .starters .banner {
    background: -webkit-linear-gradient(rgba(40, 40, 48, 0.4), rgba(40, 40, 48, 0.4)), url("./img/fries-386.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* About Page */
  section.about h1 { font-size: 2em; }

  section.about p { font-size: 1em; }

  /* Contact */
  section.contact-card {
    font-size: 0.60em;
    padding: 0 3em;
  }
}

@media (max-width: 340px) {
  /* Special Menu */
  .special-desc span.price {
    margin-left: 0.5em;
  }

  /* Restaurant Info */
  .restaurant-info { margin-top: 10em; font-size: 0.35em; }

  /* Dialog */
  div.extras.salad, div.extras.soup,
  div.extras.burger {
    left: -3.3em;
    width: 13em;
    font-size: 0.9em;
  }
  div.extras.soup, div.extras.wings,
  div.extras.sandwich, div.extras.wraps,
  div.extras.main, div.extras.breakfast,
  div.extras.benedict {
    left: -3em;
    width: 12em;
  }

  /* Contact */
  section.contact-card {
    font-size: 0.57em;
    padding: 0 2.5em;
  }
}

@media (max-width: 332px) {
  h6 sup {
    top: 0;
  }
  div.extras.omelet {
    top: 4.75em;
    width: 19em;
  }
}

@media (max-width: 325px) {
  h6 sup {
    top: 0;
  }
  div.extras.wings {
    top: 3.25em;
  }
}
