/*
=============General Styling=============
*/
html {
  box-sizing: border-box;
  text-rendering: optimizeSpeed;
}

*, *::before, *::after { box-sizing: inherit;}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arvo', serif;
  font-size: 20px;
  font-weight: 400;
}

a:link,
a:visited {
  text-decoration: none;
}

h1 {
  color: #D04E33;
  font-size: 250%;
  word-spacing: 4px;
  margin-bottom:20px;
  letter-spacing: 1px;
}

/*=============ENDS=============*/

/*
=============Header=============
*/
header {
  height: 100vh;
  background: -webkit-linear-gradient(rgba(40, 40, 48, 0.4), rgba(40, 40, 48, 0.6)), url("./img/egg_toast_m.jpg");
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* what does this mean */
}

/*=============ENDS=============*/

/*
=============Nav Bar=============
*/
header {
  margin: 0;
  padding: 0;
  color: ##EEEEEE;
}

#navBar {
  background-color: rgba(12, 12, 13, 0.90);
  height: 90px;
  flex: 0 1 auto;
}

#navBar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#navBar ul li {
  padding: 0;
}

#navBar ul li a:link,
#navBar ul li a:visited {
  color: #EEE;
  font-weight: 400;
  transition: color 0.3s;
}

#navBar ul li a:hover,
#navBar ul li a:active {
  color: #E67E22;
  cursor: pointer;
}

/*=============ENDS=============*/

/*
=============RESTAURANT INFO=============
*/
.restaurant-info {
  flex: 1 1 auto;
  margin-top: 3%;
}

/*
-when screen > 320 img: height 225px and width 225px
*/
div.restaurant-info img {
  height: 325px;
  width: 325px;
  padding: 0;
}

/*
-when screen > 320:
  -margin-top: 15%;
*/
.testimonials {
  margin-top: 4%;
  flex: 0 1 auto;
  color: #EEE;
  text-align: center;
}

/*
-when screen > 320:
  -margin: 0%;
*/
.testimonials blockquote {
  margin: 0 20%;
}

/*
-when screen > 320:
  -font-size: 75%;
  -line-height: 120%
*/
.testimonials blockquote p {
  margin: 0;
  font-style: italic;
  font-size: 90%;
  line-height: 150%;
}
/*=============ENDS=============*/

/*
=============SPECIALS=============
*/
.storeSpecials {
  background-color: #EEEEEE;
  padding-bottom: 10%;
}

.storeSpecials h1 {
  margin: 7% 0 0 0;
}

.specials-list {
  width: 100%;
}

.special {
  height: 500px;
  padding: 0;
  margin: 7% 2% 0 2%;
  border: 2px solid #D04E33;
  border-radius: 10px;
}
/*=============ENDS=============*/

/*
================================================MENU================================================
*/

/*
=============MENU HEADER and NAVBAR=============
*/
.menu-header {
  height: 100%;
  background: #EEE;
  border-bottom: 0;
}

#navBar.menu {
  background-color: rgba(230, 106, 57, 0.80);
}

#navBar.menu ul li a:hover,
#navBar.menu ul li a:active {
  color: #D04E33;
  cursor: pointer;
}
/*=============ENDS=============*/

/*
=============MENU=============
*/
.menu-section {
    padding-bottom: 12%;
}

.menu-section section {
  margin-top: 10%;
}

.menu-section-info {
  text-align: center;
}
.menu-section-info h1 {
  font-weight: 400;
  color: #353C3E;
  margin: 3% 0 0 0;
  /* font-size: 140% for screen < 900px */
}

.menu-section-info h3 {
  color: #D04E33;
}

.menu-section-info img { /*Need to change image dimensions relative to screens size */
  height: 210px;
  width: 210px;
  border-radius: 50%;
  border: 2px solid #E66A39;
  margin: 5% 0 0 0;
}
/*=============ENDS=============*/

/*
=============MENU ITEM=============
*/
.item-list {
  margin-top: 2%;
}

.item-list ul li {
  margin-top: 5%;
  padding: 0 3%;
}

.item h6 {
  font-size: 100%;
  margin: 3% 0 0 0;
}

.item p {
  margin: 3% 0 0 0;
  font-size: 80%;
  font-style: italic;
  color: #D04E33;
}

.item .price {
  float: right;
  color: #353C3E;
}
/*=============ENDS=============*/

/*
=============FOOTER=============
*/
footer.footer {
  height: 100px;
  background-color: #1C2021;
  border-top: 2px solid #D04E33;
}
.footer a {
  margin-left: 2%;
  cursor: pointer;
  color: #EEE;
}

.footer a > i {
  font-size: 215%;
}

.footer a i.facebook:hover,
.footer a i.facebook:active {
  color: #3b5998;
  transition: color 0.3s;
}

.footer a i.instagram:hover,
.footer a i.instagram:active {
  color: #cd486b;
  transition: color 0.3s;
}
/*=============ENDS=============*/

/*
================================================CONTACT US================================================
*/

/*
=============CONTACT US HEADER AND NAVBAR/*=============
*/
.contact-header {
  height: 100vh;
  background: url("./img/contact-us.jpg");
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* what does this mean */
}

#navBar.contact ul li a:hover,
#navBar.contact ul li a:active {
  color: #D04E33;
  cursor: pointer;
}
/*=============ENDS=============*/

/*
=============CONTACT CARD/*=============
*/
section.contact-card {
  background: -webkit-linear-gradient(rgba(28, 32, 33, 0.6), rgba(28, 32, 33, 0.6));
  margin: 5% 0;
  height: 60%;
  width: 80%;
  color: #EEE;
  padding: 0 10%;
}

section.contact-card h1 {
  margin: 0;
  color: #EEE;
  border-bottom: 2px solid #E66A39;
  font-size: 275%;
}

section.contact-card h2 {
  margin: 5% 0 0 0;
  color: #EEE;
  letter-spacing: 0.1em;
  font-size: 120%;
}

section.contact-card a:link,
section.contact-card a:visited {
  margin: 3% 0 0 0;
  color: #E66A39;
  letter-spacing: 0.2em;
  font-weight: 600;
  font-size: 150%;
}

section.contact-card a:hover,
section.contact-card a:active {
  cursor: pointer;
}


/*=============ENDS=============*/

/* ==========================MEDIA QUERIES ==========================*/
@media (min-width: 320px) and (max-width: 399px){
  /* Navbar */
  #navBar ul { margin-right: 4%;}
  #navBar ul li {
    font-size: 72%;
    padding: 5% 0;
  }

  /* Restaurant Info */
  div.restaurant-info img {
    height: 225px;
    width: 225px;
  }
  .testimonials { margin-top: 15%; }
  .testimonials blockquote { margin: 0; }
  .testimonials blockquote p {
    font-size: 75%;
    line-height: 120%;
  }
}

@media (min-width: 400px) and (max-width: 529px) {
  /* Navbar */
  #navBar ul { margin-right: 4%;}
  #navBar ul li {
    font-size: 92%;
    padding: 3% 0;
  }

  /* Restaurant Info */
  div.restaurant-info img {
    height: 275px;
    width: 275px;
  }
  .testimonials { margin-top: 10%; }
  .testimonials blockquote { margin: 0 5%; }
  .testimonials blockquote p {
    font-size: 90%;
    line-height: 125%;
  }
}

@media (min-width: 530px) and (max-width: 671px) {
  /* Navbar */
  #navBar ul { margin-right: 4%;}
  #navBar ul li {
    font-size: 100%;
    padding: 3% 0;
  }

  /* Restaurant Info */
  div.restaurant-info { margin-top: 10%; }

  div.restaurant-info img {
    height: 300px;
    width: 300px;
  }
  .testimonials { margin-top: 7%; }
  .testimonials blockquote { margin: 0 6%; }
  .testimonials blockquote p { line-height: 140%; }
}

@media (min-width: 672px) and (max-width: 725px) {
  /* Restaurant Info */
  div.restaurant-info { margin-top: 8%; }

  div.restaurant-info img {
    height: 315px;
    width: 315px;
  }
  .testimonials { margin-top: 6%; }
  .testimonials blockquote { margin: 0 11%; }
  .testimonials blockquote p { line-height: 140%; }
}

@media (min-width: 726px)  and (max-width: 745px) {
  /* Restaurant Info */
  div.restaurant-info img {
    height: 325px;
    width: 325px;
  }
  .testimonials { margin-top: 5%; }
  .testimonials blockquote { margin: 0 13%; }
}

@media (min-width: 746px)  and (max-width: 835px) {
  /* Restaurant Info */
  .testimonials { margin-top: 5%; }
  .testimonials blockquote { margin: 0 16%; }
}

@media (min-width: 836px)  and (max-width: 917px) {
  /* Restaurant Info */
  .testimonials { margin-top: 5%; }
  .testimonials blockquote { margin: 0 19%; }
}
@media (min-width: 992px) {
  /* Header */
  nav#navBar ul { margin-right: 3%; }
  nav#navBar ul li { width: 11.3333%; }

  /* Restaurant Info */
  .testimonials blockquote p { font-size: 100%; }

  /* Menu Section */
  .menu-section { padding-bottom: 10%; }
}

@media (min-width: 1200px) {

  /* Header */
  nav#navBar ul li { width: 10.3333%; }
  .testimonials { margin-top: 3.5%; }

  /* Store Special */
  .storeSpecials { padding-bottom: 7%; }
  .storeSpecials h1 { margin: 6% 0 0 0; }
  .special {
    height: 550px;
    width: 45.6667%;
  }

  /* Menu Section */
  .menu-section section { margin-top: 8%; }
  .item-list { margin-top: 0.5%; }
  .item-list ul li { padding: 0 6%; }

  /* Footer */
  footer.footer { height: 150px; }
}

@media (min-width: 1600px) {
  /* Menu Section */
  .item-list ul li { padding: 0 3%; }
  .benedict .item-list ul li { padding: 0 5%; }

  /* Contact Card */
  section.contact-card { margin: 4.75% 0; }
}
